 
@{ 

    ViewBag.Title = "Not Found";
}

<h1>@ViewBag.Errormessage</h1>
<h1>@ViewBag.path</h1>
<h1>@ViewBag.QS</h1>

<a asp-action="index" asp-controller="home"class="btn btn-outline-primary" style="width:auto">
    Take me back Home
</a>